day18/src/day18/books.xsd

<?xml version="1.0"  ?>
<xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.booksinfo.com">
<xsd:element name="books">
<xsd:complexType>
	<xsd:sequence>
		<xsd:element name="book">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="bookid" type="xsd:int"></xsd:element>
					<xsd:element name="author" type="xsd:string"></xsd:element>
					<xsd:element name="bname" type="xsd:string"></xsd:element>
					<xsd:element name="publisher" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
